alpha Dedicated- DEVELOPMENT/Intermediate/
alpha Dedicated- DEVELOPMENT/Saved/
alpha Dedicated- DEVELOPMENT/Content/StarterContent/
alpha Dedicated- DEVELOPMENT/Binaries/
alpha Dedicated- DEVELOPMENT/Plugins/VaRest/
*.db
*.suo
alpha Dedicated- DEVELOPMENT/Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
alpha Dedicated- DEVELOPMENT/Build/
alpha Dedicated- DEVELOPMENT/DerivedDataCache/Boot.ddc
alpha Dedicated- DEVELOPMENT/Content/SciFiWeapDark/Sound/RocketLauncher/Wavs/RocketLauncher_Explosion01.uasset
alpha Dedicated- DEVELOPMENT/Content/SciFiWeapDark/
mutagen/Content/StarterContent/
mutagen/Intermediate/Build/
mutagen/Intermediate/
mutagen/Saved/
mutagen/DerivedDataCache/
mutagen/Binaries/
mutagen/Content/InfinityBladeGrassLands/
mutagen/.vs/mutagen/v15/Solution.VC.db-shm
mutagen/.vs/mutagen/v15/Solution.VC.db-wal
mutagen/.vs/mutagen/v15/ipch/AutoPCH/MUTAGEN-d7c55e9b/MUTAGENPLAYERCONTROLLER-65db8e20/MUTAGENPLAYERCONTROLLER.ipch
mutagen/Content/InfinityBladeEffects/
